<div class="about-main">
  <h2>Torilogとは</h2>
  <p>
    記録サービスです。
    旅先で撮った写真を投稿し、あなただけのオリジナルアルバムを作ろう！！
  </p>
</div>

<div class ="main-about">
  <div class ="container-about">
  
    <h2>How to use???</h2>

    <div class="kara-about">
      <div class="about-explain-item">
        <img src="/visit.jpg">
        <h3>Step.1</h3>
        <h3>Visit where you want!!</h3>
      </div>
     </div>
   
    <div class="kara-about">

      <div class="about-explain-item">
        <img src="/photo.jpg">
        <h3>Step.2</h3>
        <h3>Taking a picure!!</h3>
      </div>

    </div>
    
    <div class="kara-about">
      <div class="about-explain-item">
      
        <img src="/post-about.png">
        <h3>Step.3</h3>
        <h3>Post as your memory!!</h3>
      </div>
    </div>

    <h2 class="merit">What are the benefits of using this service???</h2>
    
    <h3>　1. You know the percentages of your journey!!</h3>

    
      <div class="box">
        <div class="skillbar clearfix " data-percent="75%">
          <div class="skillbar-title" style="background: #88cd2a;"><span><i class="fas fa-plane"></i></span></div>
          <div class="skillbar-bar" style="background: #88cd2a;"></div>
          <div class="skill-bar-percent">75%</div>
        </div>
      </div>
      <!----- /jQuery  ------->

      <script>
        jQuery('.skillbar').each(function(){
          jQuery(this).find('.skillbar-bar').animate({
            width:jQuery(this).attr('data-percent')
          },2000);
        });
      </script>

   

    <h3>　2. You can make own albums!!</h3>

    <div class="kara-memory">
      <div class="posts-select-item-about">
        <img src="/fuji.jpg">
        <a>Mt.fuji</a>
      </div>
    </div>

    <div class="kara-memory">
      <div class="posts-select-item-about">
        <img src="/sirakawa.jpg">
        <a>Shirakawa</a>
      </div>
    </div>

    <div class="kara-memory">
      <div class="posts-select-item-about">
        <img src="/itukushima.jpg">
        <a>itukushima</a>
      </div>
    </div>
      
    <div class="kara-memory">  
      <div class="posts-select-item-about">
        <img src="/kiyomizu.jpg">
        <a>kiyomizu</a>
      </div>
    </div>
     
   
   
    
  
  </div>
  
</div>