<div class="main users-new">
  <div class="select">

    <div class="container-posts">
      
        <div class="form-heading-select">Select</div>

        <div class="kara">

          <%=link_to("/posts/post") do%>

            <div class="posts-select-item">
              <img src="/post.jpeg">
              <%=link_to("Post","/posts/post")%>
            </div>

          <% end %>

        </div>

        <div class="kara">

          <%=link_to("/posts/memory") do%>

            <div class="posts-select-item">
                <img src="/memory.jpeg">
                <%=link_to("Memory","/posts/memory")%>
            </div>

          <% end %>

        </div>


      </div>

  </div>
  
</div>